@model Data.Dto.Payment.AddPaymentDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-titles">
    <div class="col p-0">
        <h4>افزایش اعتبار</h4>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
    <div class="card button-card">
        <div class="card-body">
            <h4 id="h4Sale" class="card-title mb-5">افزایش اعتبار ریالی</h4>
            <form id="addPaymentForm" class="col-md-9" style="margin: 0 auto; text-align: center;">

                <div class="form-group row m-b-10">
                    <label asp-for="Amount" class="col-md-3 text-md-right col-form-label">مبلغ(تومان)</label>
                    <div class="col-md-6">
                        <input asp-for="Amount" type="number" min="1000" placeholder="مبلغ مورد نظر خود را وارد کنید" class="form-control"/>
                        <span class="text-danger font-size-3" style="float: right" asp-validation-for="Amount"></span>
                    </div>
                </div>
                <div class="form-group row m-b-10">
                    <label asp-for="Mobile" class="col-md-3 text-md-right col-form-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Mobile" type="text" placeholder="موبایل خود را وارد کنید" class="form-control"/>
                        <span class="text-danger font-size-3" style="float: right" asp-validation-for="Mobile"></span>
                    </div>
                </div>
                <div class="form-group row m-b-10">
                    <label asp-for="Description" class="col-md-3 text-md-right col-form-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Description" type="text" placeholder="توضیحات  خود را وارد کنید" class="form-control"/>
                        <span class="text-danger font-size-3" style="float: right" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="form-group row m-b-10">
                    <div class="col-md-6 " style="margin: 0 auto;">
                        <button type="button" id="btnAddPaymentForm" class="btn btn-primary form-control">تایید</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    </div>
</div>
<script>
    function disabledBtn(idBtn, bool) {
        $("#" + idBtn).attr('disabled', bool);
    }
    disabledBtn('btnAddPaymentForm', false)
    $('#btnAddPaymentForm').click(function () {
        debugger;
        var regsiterForm = $('#addPaymentForm').valid();
        if (regsiterForm) {
            disabledBtn('btnAddPaymentForm', true)
            $.ajax({
                url: '/api/ApiPayment/RequestToPay',
                type: 'Post',
                headers: { 'Authorization': 'Bearer ' + getCookie('Bearer') },
                data: {
                    Mobile: $('#Mobile').val(),
                    WherePayment: 'افزایش اعتبار',
                    Description: $('#Description').val(),
                    Amount: $('#Amount').val(),
                },
                success: function (response) {
                    ;
                    console.log(response);
                    if (response.isSuccess) {
                        window.location.href = response.data
                    }
                    else {
                        disabledBtn('btnAddPaymentForm', false)
                        gritterNotification('error', 'خطا', response.message);
                    }
                },
                error: function (xhr) {
                    disabledBtn('btnAddPaymentForm', false)
                    console.log(xhr);
                    ;
                    gritterNotification('error', xhr.responseJSON.Message);
                }
            });
        }
        else {
            disabledBtn('btnRegsiterForm', false)
            $(".field-validation-error").show();
        };
    });
</script>

