@model ChangePasswordDto;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <div class="col p-md-0">
        <h4>تغییر رمز عبور</h4>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
    <div class="card button-card">
        <div class="card-body">       
        <form id="formForgetPassword" class=" col-md-12 col-lg-12 col-xl-12" style="margin:0 auto; text-align:center;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  col-lg-4 col-md-6 col-xl-3 ">
                <label asp-for="Oldpassword" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="Oldpassword" class="form-control" type="password" placeholder="پسورد فعلی خود را وارد کنید" />
                <span asp-validation-for="Oldpassword" class="text-danger"></span>
            </div>
            <div class="form-group  col-lg-4 col-md-6 col-xl-3 ">
                <label asp-for="Newpassword" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="Newpassword" class="form-control" type="password" placeholder=" پسورد جدید خود را وارد کنید" />
                <span asp-validation-for="Newpassword" class="text-danger"></span>
            </div>
            <div class="form-group  col-lg-4 col-md-6 col-xl-3 ">
                <label asp-for="passwordConfirmed" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="passwordConfirmed" class="form-control" type="password" placeholder="تکرار پسورد جدید خود را وارد کنید" />
                <span asp-validation-for="passwordConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group  col-lg-4 col-md-6 col-xl-3">
                <button type="button" value="Create" style="line-height: 14px; height: 50px;" id="btnFormForgetPassword" class="form-control btn btn-success btn-lg">تایید</button>
            </div>
        </form>

    </div>
    </div>
    </div>
</div>
    <script>
        disabledBtn('btnFormForgetPassword', false)
        $('#btnFormForgetPassword').click(function () {
            var formForgetPassword = $('#formForgetPassword').valid();
            if (formForgetPassword) {
                disabledBtn('btnFormForgetPassword', true)
                $.ajax({
                    url: '/api/ApiAccount/ChangePassword',
                    type: 'Post',
                    headers: { "Authorization": 'Bearer ' + getCookie('Bearer') },
                    data: {
                        Oldpassword: $('#Oldpassword').val(),
                        Newpassword: $('#Newpassword').val(),
                        passwordConfirmed: $('#passwordConfirmed').val()
                    },
                    success: function (response) {
                        ;
                        disabledBtn('btnFormForgetPassword', true)
                        console.log(response);
                        if (response.isSuccess) {
                            gritterNotification('success', 'موفق', response.message);
                        }
                        else {
                            disabledBtn('btnFormForgetPassword', false)
                            gritterNotification('error', 'خطا', response.message);
                        }
                    },
                    error: function (xhr) {
                        disabledBtn('btnFormForgetPassword', false)
                        console.log(xhr);
                        gritterNotification('error', 'خطا', 'خطایی در سیستم رخ داده است');
                    }
                });
            } else {
                disabledBtn('btnFormForgetPassword', false)
                $(".field-validation-error").show();
            }
        });
    </script>


