@model ForgetPasswordDto
@{
    Layout = null;
}
    <!DOCTYPE html>
    <html lang="en" class="h-100" id="login-page1">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Vencer.me</title>
        <!-- Favicon icon -->

        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.png">

        <!-- Custom Stylesheet -->
        <link href="~/assets/plugins/toastr/css/toastr.min.css" rel="stylesheet" />
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />

    </head>

    <body class="h-100">
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <div class="login-bg h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-xl-6">
                        <div class="form-input-content">
                            <div class="card">
                                <div class="card-body">
                                    <div class="logo text-center">
                                        @*<img src="~/vencer.me2.png" alt="" class="ml-4">*@
                                    </div>
                                    <h4 class="text-center mt-5">فراموشی رمز عبور</h4>
                                    <p class="text-center">
                                        نام کاربری و موبایل خود را جهت تغییر رمز عبور خود  وارد نمایید تا رمز عبور جدید برای شما  ارسال گردد.
                                    </p>
                                    <form class="mt-5 mb-5" id="formForgetPassword">
                                        <div class="form-group">
                                            <input asp-for="UserName" class="form-control" placeholder="نام کاربری خود را وارد کنید">
                                            <span asp-validation-for="UserName" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Mobile" class="form-control" placeholder="موبایل خود را وارد کنید">
                                            <span asp-validation-for="Mobile" class="text-danger"></span>
                                        </div>
                                        <div class="text-center mb-4 mt-5">
                                            <button type="button" id="btnFormForgetPassword" class="btn btn-primary">تایید و ارسال</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
        <!-- Common JS -->
        <script src="~/assets/plugins/common/common.min.js"></script>
        <!-- Custom script -->
        <script src="~/assets/js/custom.min.js"></script>
        <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/gleek.js"></script>
    <script src="~/assets/plugins/toastr/js/toastr.min.js"></script>
        <script src="~/js/globalFunction.js"></script>
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
        <script>
            function disabledBtn(idBtn, bool) {
                $("#" + idBtn).attr('disabled', bool);
            }
            disabledBtn('btnFormForgetPassword', false)
            $('#btnFormForgetPassword').click(function () {
                debugger;
                var formForgetPassword = $('#formForgetPassword').valid();
                if (formForgetPassword) {
                    disabledBtn('btnFormForgetPassword', true);
                    $.ajax({
                        url: '/api/ApiAccount/ForgetPassword',
                        type: 'Post',
                        data: {
                            UserName: $('#UserName').val(),
                            Mobile: $('#Mobile').val()
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.isSuccess) {
                                gritterNotification('success', 'موفق', response.message);
                                window.location.href = '/Account/Login';
                            }
                            else {
                                disabledBtn('btnFormForgetPassword', false)
                                gritterNotification('error', 'خطا', response.message);

                            }
                        },
                        error: function (xhr) {
                            disabledBtn('btnFormForgetPassword', false)
                            console.log(xhr);
                            gritterNotification('error', 'خطا', 'خطایی درسیستم به وجود امده است');

                        }
                    });
                } else {
                    $(".field-validation-error").show();
                }

            })
        </script>
    </body>

</html>